*,
:after,
:before {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	background: linear-gradient(to right, #283e51, #5691c8);
	color: white;
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
	overflow-x: hidden;
    min-height: 100vh;
}

.codeblock-header  {
	padding-bottom: .5rem;
	display: flex;
	justify-content: space-between;
}

.codeblock-btn {
	background-color: #3d72b4;
	border: none;
	padding: .3rem;
	border-radius: 5px;
	cursor: pointer;
}

.codeblock-language {
	text-transform: uppercase;
}